main {
    margin-top: 150px
}


.header {
    background-color: #234C6A;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1000;
}

.logo {
    font-size: 4rem;
    font-weight: bold;
    background: linear-gradient(to right, #353A5F,#9EBAF3);
    text-align: center;
    color: white;
    
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 600px;
    font-size:16px;
    border-radius: 30px;
    padding:0.8rem 1.2rem;
    background-color: linear-gradient(rgb(246, 255, 0));
}
nav a:hover{
    color:white;
    background-color: rgb(255, 213, 0);
    box-shadow: 0 5px 15px rgb(0, 0, 0);

}

nav a.active{
    color:rgb(0, 0, 0);
    background-color: rgb(255, 213, 0);
    box-shadow: 0 5px 15px black;
}

body{
    background:linear-gradient(to bottom right, #FFE998,#57370D);
}
.shoes-img{
    display:grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    justify-content: center;
    padding: 50px;
}
 
.shoe-item{

    width: 290px;
    height: 400px;
    padding: 10px 10px 0px 10px;
    text-align: center;
    background: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 20px;
}

.shoe-item img{
    width: 100%;
    transition: 0.3 s;
}

.shoe-item:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px black;
    cursor:pointer;
}

h2{
    background-color: #57595B;
    color: white;
    border-radius: 30px;
}

.gallery-container{
    background-color: #002455;
    position:relative;
    padding: 10px 20px 20px;
    width:100%;
}

.footer-content{
    display:grid;
    grid-template-columns: auto  auto auto ;
    gap:20px;
    font-size: 16px;
}

.social-link{
    text-decoration: none;
}
.shoe-item h2{
    align-items: center;
}
h1{
    color: white;
    text-align: center;
}
.footer-content h3{
    color: white;
}
.footer-content h4{
    color: white;
}
.footer-content p{
    color: white;
}